<md-toolbar color="primary">
  <img src="/assets/vmware-logo.png" style="width: 230px; height: 100px;" />
  <span>{{title}}</span>
  <span class="filler"></span>
  <i class="material-icons">face</i>
</md-toolbar>
<md-tab-group>
  <md-tab label="Public Cloud">
    <form class="public-cloud-form">
      <br />
      <md-button-toggle-group #group="mdButtonToggleGroup">
        <md-button-toggle value="amazon">Amazon</md-button-toggle>
        <md-button-toggle value="azure">Azure</md-button-toggle>
        <md-button-toggle value="google">Google Cloud</md-button-toggle>
      </md-button-toggle-group>
      <br />
      <br />
      <p>Configure Endpoint</p>
      <md-input-container class="full-width">
        <input mdInput placeholder="Access Key" name="accessKey" [(ngModel)]="vm.accessKey" required>
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput placeholder="Instance Name" name="instanceName" [(ngModel)]="vm.instanceName" required>
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput placeholder="VM Instance ID" name="vmInstanceID" [(ngModel)]="vm.vmInstanceID" required>
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput placeholder="Username" name="userName" [(ngModel)]="vm.userName" required>
      </md-input-container>
      <button md-raised-button (click)="save()" color="primary">Save</button>
      <button md-raised-button (click)="bootstrap()" color="primary">Bootstrap Endpoints</button>
    </form>
  </md-tab>
  <md-tab label="Private Cloud">
    <form class="public-cloud-form">
      <br />
      <md-button-toggle-group #group="mdButtonToggleGroup">
        <md-button-toggle value="vmware">VMware</md-button-toggle>
      </md-button-toggle-group>
      <br />
      <br />
      <p>Configure Endpoint</p>
      <md-input-container class="full-width">
        <input mdInput placeholder="Instance Name" name="instanceName" [(ngModel)]="vm.instanceName" required>
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput placeholder="VM Instance ID" name="vmInstanceID" [(ngModel)]="vm.vmInstanceID" required>
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput placeholder="Username" name="username" [(ngModel)]="vm.userName" required>
      </md-input-container>
      <md-input-container class="full-width">
        <input type="password" mdInput placeholder="Password" name="password" [(ngModel)]="vm.password" required>
      </md-input-container>
      <button md-raised-button (click)="save()" color="primary">Save</button>
      <button md-raised-button (click)="bootstrap()" color="primary">Bootstrap Endpoints</button>
    </form>
  </md-tab>
</md-tab-group>
